<html>
<head>
    <title>用户</title>
    <meta name="decorator" content="atl.admin">
    <script type="text/javascript">
    </script>
</head>
<body>

<div class="aui-group">
    <div class="aui-item search-wrap">
        <div class="search-container" data-mode="advanced">
            <div class="search-field-container">
                <div class="atlassian-autocomplete">
                    <textarea id="advanced-search" class="search-entry advanced-search ajs-dirty-warning-exempt" name="jql" style="overflow: hidden; height: 33px;" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="search-options-container">
                <div>
                    <button class="aui-item aui-button aui-button-subtle search-button" type="button" original-title="搜索问题">
                        <span class="aui-icon aui-icon-small aui-iconfont-search">搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="aui-group">
    <div class="aui-group aui-group-split count-pagination">
        <div class="aui-item">
            <input id="startAt" type="hidden" value="$startAt">
            <input id="currentPage" type="hidden" value="$currentPage">
            <div id="pageNumber" class="pagination">

            </div>
        </div>
    </div>
</div>
<div id="issueTable" class="aui-group">
    <table class="aui">
        <thead>
        <tr>
            <th id="basic-number">#</th>
            <th id="basic-fname">First name</th>
            <th id="basic-lname">Last name</th>
            <th id="basic-username">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td headers="basic-number">1</td>
            <td headers="basic-fname">Matt</td>
            <td headers="basic-lname">Bond</td>
            <td headers="basic-username">mbond</td>
        </tr>
        <tr>
            <td headers="basic-number">2</td>
            <td headers="basic-fname">Ross</td>
            <td headers="basic-lname">Chaldecott</td>
            <td headers="basic-username">rchaldecott</td>
        </tr>
        <tr>
            <td headers="basic-number">3</td>
            <td headers="basic-fname">Henry</td>
            <td headers="basic-lname">Tapia</td>
            <td headers="basic-username">htapia</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

