<html>
<head>
    <title>用户</title>
    <meta name="decorator" content="atl.admin">
    <script type="text/javascript">
    </script>
</head>
<body>

<div class="aui-group">
    <div class="aui-item">
        <div class="field-group">
            <label for="'userSearchFilter'">用户筛选</label>
            <div class="user-browser__user-search">
                <input class="text full-width-field" style="width: 50%;height:25px" id="user-filter-userSearchFilter" placeholder="姓名、用户名或电子邮件中包含的" maxlength="255" name="userSearchFilter" type="text">
                <button id="searchButton" class="aui-item aui-button aui-button-subtle search-button" type="button" original-title="搜索问题">
                    <span class="aui-icon aui-icon-small aui-iconfont-search">搜索</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="aui-group">
    <div class="aui-group aui-group-split count-pagination">
        <div class="results-count aui-item">
            共 <span class="results-count-total" id="total"></span>个。
        </div>
        <div class="aui-item">
            <input id="startAt" type="hidden" value="$startAt">
            <input id="currentPage" type="hidden" value="$currentPage">
            <div id="pageNumber" class="pagination">

            </div>
        </div>
    </div>
</div>
<div id="issueTable" class="aui-group">
    <table width="100%" class="aui" id="single_groupby_report_table">
        <thead>
        <tr>
            <th>
                <h2>用户名</h2>
            </th>
            <th>
                <h2>关键字</h2>
            </th>
            <th>
                <h2>项目名称</h2>
            </th>
            <th>
                <h2>分数</h2>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="basic-fname">Matt</td>
                <td headers="basic-lname">Bond</td>
                <td headers="basic-username">mbond</td>
                <td headers="basic-number">1</td>
            </tr>
            <tr>
                <td headers="basic-fname">Ross</td>
                <td headers="basic-lname">Chaldecott</td>
                <td headers="basic-username">rchaldecott</td>
                <td headers="basic-number">2</td>
            </tr>
            <tr>
                <td headers="basic-fname">Henry</td>
                <td headers="basic-lname">Tapia</td>
                <td headers="basic-username">htapia</td>
                <td headers="basic-number">3</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>

